<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

			 

			 
<Environment name="suku.db.driver" 
             value="org.postgresql.Driver"
             type="java.lang.String" override="false"/>		
		 
<Environment name="suku.db.server" 
             value="localhost"
             type="java.lang.String" override="false"/>		

<Environment name="suku.db.database" 
             value="kalle"
             type="java.lang.String" override="false"/>	
<Environment name="suku.db.user" 
             value="kalle"
             type="java.lang.String" override="false"/>	
<Environment name="suku.db.password" 
             value=""
             type="java.lang.String" override="false"/>	
	 
		 
</Context>