<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="Sukuohjelmisto">
	<display-name>Kallen server</display-name>
 

        <servlet>
                <servlet-name>SukuServlet</servlet-name>
                <display-name>Sukuohjelmisto servlet</display-name>
                <servlet-class>fi.kaila.suku.server.SukuServlet</servlet-class>
        </servlet>
  
        <servlet-mapping>
                <servlet-name>SukuServlet</servlet-name>
                <url-pattern>/suku</url-pattern>
        </servlet-mapping>        
        
  
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
                <welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	
  <env-entry>
	<description>jdbc driver </description>
	<env-entry-name>suku.db.driver</env-entry-name> 
	<env-entry-value>org.postgresql.Driver</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>
    
  <env-entry>
	<description>server address</description>
	<env-entry-name>suku.db.server</env-entry-name> 
	<env-entry-value>localhost</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>
    
  <env-entry>
	<description>server database</description>
	<env-entry-name>suku.db.database</env-entry-name> 
	<env-entry-value>sukuproto</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>

    
  <env-entry>
	<description>database user</description>
	<env-entry-name>suku.db.user</env-entry-name> 
	<env-entry-value>kalle</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>

    
  <env-entry>
	<description>database password</description>
	<env-entry-name>suku.db.password</env-entry-name> 
	<env-entry-value>kalle</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>
  
    
  <env-entry>
	<description>upload folder</description>
	<env-entry-name>suku.upload.folder</env-entry-name> 
	<env-entry-value>C:/Data/sss/kokeet/</env-entry-value>
	<env-entry-type>java.lang.String</env-entry-type>	 
  </env-entry>
  

	
</web-app>
